<a href="https://colab.research.google.com/github/Bhuds1/ExData_Plotting1/blob/master/Hudson_Module_6_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MSDS 430 Module 6 Python Assignment [Needs to be finalized]

#### In this assignment you will complete the following exercises and submit your notebook (ipynb file) to Canvas. Your file should include all output, i.e. run each cell and save your file before submitting.

Problem 1 (8 pts.): Create a table that has 15 pay grades (rows) and within each pay grade are 10 steps (columns). Grade 1 step 1 starts at $21,885. Each step in a pay grade increases by 1.4 percent from the previous step. Each pay grade increases by 4.3 percent from step 1 in the previous grade. Label each row and column appropriately. Print the table and write to a file. Use integer values only.

In [16]:
def sal_tab(salary = 21885.00, step = 10, grade = 15):
  y = salary
  for i in range (1,step +1):
    print('\t', end ="")
    print(f'Step {i}', "\t", end = "")
  print('\n')  
  for x in range (1, grade +1):
    print("\n")
    print(f'Grade{x}', end = "")
    new_salary = y * 1.043
  
    for z in range(1, 11):
      #y = new_salary
      print("\t", "%.2f"%y, end = "")
      y = y + y*(.014)
    y = new_salary
    
homework = sal_tab()

	Step 1 		Step 2 		Step 3 		Step 4 		Step 5 		Step 6 		Step 7 		Step 8 		Step 9 		Step 10



Grade1	 21885.00	 22191.39	 22502.07	 22817.10	 23136.54	 23460.45	 23788.90	 24121.94	 24459.65	 24802.08

Grade2	 22826.05	 23145.62	 23469.66	 23798.23	 24131.41	 24469.25	 24811.82	 25159.18	 25511.41	 25868.57

Grade3	 23807.58	 24140.88	 24478.85	 24821.56	 25169.06	 25521.43	 25878.73	 26241.03	 26608.40	 26980.92

Grade4	 24831.30	 25178.94	 25531.44	 25888.88	 26251.33	 26618.85	 26991.51	 27369.39	 27752.56	 28141.10

Grade5	 25899.05	 26261.63	 26629.30	 27002.11	 27380.14	 27763.46	 28152.15	 28546.28	 28945.92	 29351.17

Grade6	 27012.71	 27390.88	 27774.36	 28163.20	 28557.48	 28957.29	 29362.69	 29773.77	 30190.60	 30613.27

Grade7	 28174.25	 28568.69	 28968.65	 29374.21	 29785.45	 30202.45	 30625.28	 31054.04	 31488.79	 31929.64

Grade8	 29385.75	 29797.15	 30214.31	 30637.31	 31066.23	 31501.16	 31942.17	 32389.36	 32842.81	 33302.61

Grade9	 30649.33	 31078.42	 31513.52	 31954.71	 32402.08	 32855.71	 33315.69	 33782.10	 34255.05	 34734.62

Grade10	 31967.25	 32414.80	 32868.60	 33328.76	 33795.37	 34268.50	 34748.26	 35234.74	 35728.02	 36228.21

Grade11	 33341.85	 33808.63	 34281.95	 34761.90	 35248.57	 35742.05	 36242.43	 36749.83	 37264.33	 37786.03

Grade12	 34775.54	 35262.40	 35756.08	 36256.66	 36764.25	 37278.95	 37800.86	 38330.07	 38866.69	 39410.83

Grade13	 36270.89	 36778.69	 37293.59	 37815.70	 38345.12	 38881.95	 39426.30	 39978.26	 40537.96	 41105.49

Grade14	 37830.54	 38360.17	 38897.21	 39441.77	 39993.96	 40553.87	 41121.63	 41697.33	 42281.09	 42873.03

Grade15	 39457.26	 40009.66	 40569.79	 41137.77	 41713.70	 42297.69	 42889.86	 43490.32	 44099.18	 44716.57

Problem 2 (8 pts.): Use the file pitching_stats.csv for this problem. Read the data and calculate the ERA for the top ten pitchers. ERA = (earned runs*9)/(innings pitched). Print out a table with the pitcher's name, team, earned runs, innings pitched, and ERA (rounded to two decimals). Label columns appropriately.

In [0]:
from google.colab import files
import pandas as pd

In [36]:
uploaded = files.upload()

Saving pitching_stats.csv to pitching_stats (1).csv

In [38]:
files.download('pitching_stats.csv')
file = pd.read_csv('pitching_stats.csv')
file['ERA'] = file['ER']*9/file['IP']   #calculate ERA
file['ERA'] = file['ERA'].round(2)   #round to 2 places
df = file.drop(['rank'], axis = 1) #drop rank column
df = df[['name', 'team', 'ER', 'IP', 'ERA']]  #reorder columns to fit problem
df

           name team  ER     IP   ERA
0     DeGrom, J  NYM  32  159.0  1.81
1       Sale, C  BOS  32  146.0  1.97
2      Snell, B   TB  31  133.0  2.10
3   Scherzer, M  WSH  41  174.2  2.12
4      Bauer, T  CLE  41  166.0  2.22
5       Nola, A  PHI  40  161.0  2.24
6  Verlander, J  HOU  46  164.1  2.52
7     Kluber, C  CLE  50  168.0  2.68
8       Cole, G  HOU  48  159.2  2.71
9     Morton, C  HOU  45  142.1  2.85

Problem 3 (6 pts): Write a program that creates a table with two columns. Label the first column 'n' and the second column 'Prime or not?' Your table should list integers 2 through 50 and display 'True' if the number is prime and 'False' if the number is not prime.

In [17]:
num = 50
prime = True
print('n', "\t", 'Prime or not?')
print('____', '\t', '____________')
for i in range(2, num +1):
  for x in range(2, i):
    if i % x == 0:
      prime = False
      break
    else:
      prime = True
  
  print(i, '\t', prime)

n 	 Prime or not?
____ 	 ____________
2 	 True
3 	 True
4 	 False
5 	 True
6 	 False
7 	 True
8 	 False
9 	 False
10 	 False
11 	 True
12 	 False
13 	 True
14 	 False
15 	 False
16 	 False
17 	 True
18 	 False
19 	 True
20 	 False
21 	 False
22 	 False
23 	 True
24 	 False
25 	 False
26 	 False
27 	 False
28 	 False
29 	 True
30 	 False
31 	 True
32 	 False
33 	 False
34 	 False
35 	 False
36 	 False
37 	 True
38 	 False
39 	 False
40 	 False
41 	 True
42 	 False
43 	 True
44 	 False
45 	 False
46 	 False
47 	 True
48 	 False
49 	 False
50 	 False